<html>
	<head>
		<title>Login</title>
		<style type="text/css">
			div {
				margin-left: auto;
				margin-right: auto;
				width: 200px;
				display: block;
			}

			div input[type="submit"] {
				display: block;
				margin-top: 0.75rem;
			}

			span.message {
				color: #00FF;
			}
		</style>
	</head>
	<body>
		<div>
			<h1>Log in</h1>
			<p>Enter anything in the password field.</p>
			<span class="message"><%= @message %></span>
			<form action="/login" method="POST">
				<input type="text" name="username" placeholder="Username" />
				<input type="password" name="pasword" placeholder="Password" />
				<input type="submit" value="Login" />
			</form>
		</div>
	</body>
</html>